*.a
*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
AUTHORS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
cscope.files
cscope.out
depcomp
gtk-doc.make
install-sh
intl
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
ylwrap
